body {
    font-family: 'Inter', sans-serif;
    background: #fffaf5;

    margin: 0;
}

/*AESTHETIC*/
/*#region*/

.outline-button {
    height: 75px;
    margin: 4px;

    background: none;
    border: 1px solid #c68a4e;

    font-family: 'Inter', sans-serif;
    font-size: x-large;
    font-weight: 500;

    padding-inline: 30px;
}

.outline-button:hover {
    transform: scale(101%);
}

.action-button {
    height: 75px;
    width: max-content;
    padding-inline: 40px;
    margin: 4px;

    background: #f7b451;
    border: solid 2px black;

    font-family: 'Inter', sans-serif;
    font-size: x-large;
    font-weight: 500;
    color: black;

}

.action-button:hover {
    box-shadow: 3px 3px black;
}

.action-button:active {
    transform: translate(4px, 4px);
    box-shadow: none;
}

.section-heading {
    margin-top: 40px;
    padding: 10px;
    width: 90%;

    display: flex;
    justify-content: center;

    background: white;
    border: 2px solid black;
    box-shadow: 4px 4px #f7b451;

    font-size: xx-large;
}

.service-card {
    background-color: white;
    padding-block: 40px;

    outline: solid 2px black;

    color: black;
}

.service-card div img {
    border-radius: 1px;
    border: solid #000000 2px;

    border-radius: 10px;
}

.service-card p {
    font-size: large;
    font-weight: 500;
}

.service-card h5 {
    font-size: x-large;
    margin-top: 10px;
}

.service-card button {
    font-size: large;
}

.complementary-card {
    background: #6291ff;
    width: 90%;
    height: max-content;
    padding-block: 50px;

    border-radius: 10px;
    border: solid black 3px;
}

.complementary-card p {
    width: 90%;

    font-size: xx-large;
    font-weight: 700;

    display: flex;
    align-items: center;
    padding-left: 20px;
}

.complementary-card button {
    background: white;
    box-shadow: none;
    border: 2px solid black;
    border-radius: 20px;

    width: fit-content;
    padding-inline: 20px;
    margin-right: 30px;
    height: max-content;
    padding-block: 20px;

    font-size: x-large;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
}

.complementary-card button:hover {
    outline: none;
    box-shadow: 3px 3px black;
}

.complementary-card button:active {
    outline: none;
    box-shadow: none;
    transform: translate(3px, 3px);
}

.input-field {
    background: white;
    padding-left: 20px;

    font-family: 'Inter', sans-serif;
    border: 2px solid #000000;
    border-radius: 1px;
    height: max-content;
    padding-block: 22px;
}

/*#endregion*/

/*HOME*/
/*#region*/

.home-page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home-section {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}


.home-section h1 {
    font-size: 5em;
    padding: 40px;

    width: 50%;
}

.three-d-house {
    width: 50%;
    height: 60vh;
}

model-viewer {
    width: 100%;
    height: 100%;
}

.hero {
    display: flex;
    width: 100%;
    height: max-content;
}

.hero h3 {

    transform: translate(50px);
    font-size: xx-large;
    width: max-content;

}

.hero div {
    flex: 1;
}


/*#endregion*/

/*SERVICES*/
/*#region*/

.services {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 10px;
}

.services > div {
    display: flex;
    gap: 0px;

}

.services > button {
    margin-top: 60px; padding-inline: 10px; padding-block: 30px; width: 40%; height: max-content;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 500px;
    width: 80%;

    padding-inline: 35px;
}

.service div {
    min-height: 200px;
    min-width: 100%;
}

.service button {
    min-height: 50px;
    width: 100%;
}

.service p {
    min-height: 50px;
}

.service div img {
    width: 100%;
    max-height: 100%;

    object-fit: cover;
}

/*#endregion*/

/*ABOUT*/
/*#region*/

.about-us {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us > p {
    font-size: 1.5rem;
    padding-inline: 75px;
    font-weight: 500;
    text-align: center;
}

.testimonial {
    display: flex;
    padding-top: 0;
}

.testimonial div {
    padding-inline: 40px;
}

/*#endregion*/

/*CONTACT US*/
/*#region*/

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-block: 40px;
}

.propchk {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;

    gap: 10px;
    
}

.general-contact {
    display: flex;
    align-items: stretch;
    height: fit-content;
}

.general-contact > div {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 40px;
    flex: 1;
    padding-right: 50px;
}

.general-contact > div > button {
    width: 40%;
    font-size: x-large;
}

.general-contact > div > input {
    width: 60%;
    font-size: x-large;
}

.general-contact > p {
    padding-left: 40px;
    font-size: 2.5rem;
    width: 45%;
}

/*#endregion*/

@media only screen and (max-width: 641px) {
    .services > div {
        flex-direction: column;
        align-items: center;
    }

    .services > button {
        padding-block: 30px; width: 85%; height: max-content;
    }

    .three-d-house {
        display: none;
    }

    .home-section h1 {
        width: 100%;
        font-size: 3.5em;
    }

    .testimonial {
        flex-direction: column;
        gap: 20px;
    }

    .propchk {
        flex-direction: column;
    }
} 

@media only screen and (max-width: 1150px) {
    
    .general-contact > p {
        width: fit-content;
        padding-right: 25px;
    }

    .general-contact {
        flex-direction: column;
    }
} 